---
layout: default
title: Fablab Torino
---

    <div class="container">

    	<div class="row">
    		<div class="col-sm-3">
    			<h4>Chi siamo</h4>
    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    		</div>
    		<div class="col-sm-3">
    			<h4>Progetti per le aziende</h4>
    			<p> ILorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    		</div>
    		<div class="col-sm-3">
    			<h4>Diventare Coach</h4>
    			<p> ILorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    		</div>    		
    		<div class="col-sm-3">
    			<h3>Newsletter</h3>
				<form action="http://a0e1d.emailsp.net/frontend/subscribe.aspx">
				<div >
				<label for="1" >Email*</label>
				<input type="email" name="email" id="email" placeholder="Inserisci la tua email" required="required">
				<p >Controlla la tua casella di posta per confermare l'iscrizione</p>
				</div>
				<div>
				<button type="submit" name="submit" value="true" >
				Iscriviti
				</button>
				</div>
				<input type="hidden" name="list" value="26">
				</form>

    		</div>
    	</div>
    	<hr>
    	

		<div class="row" align="center">
			<h1 style="font-size: 50px;font-weight: 800;color: #d7d7d7">Leader allenatori di leader</h1>
		</div>

		<hr>
		<div class="row">
			{% for post in site.categories.evidenza%} 
				<div class="col-sm-3">
			    	<a href="">
			    	<img src="{{ post.immagine }}" class="img-responsive" width="300px">	
			    	</a>
			    	<p><strong>{{ post.title }}</strong><br>
			    		{{ post.quando }}
			    	</p>
		    	</div>
			{% endfor %}
		</div>		

		<hr>


      	<div class="row">
        	<div class="col-sm-4">
				<h3 class="text-center">Appuntamenti</h3>
				<button type="button" class="btn btn-primary btn-xs btn-block">Scopri le communites</button>
				<h4 class="lead">Vieni a conoscere i gruppi di lavoro e unisciti ai loro progetti.</h4>
				{% for post in site.categories.appuntamenti%} 
					<div class="media">
					  <div class="media-left">
					    <a href="{{ post.url }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
					    <p>
						{{ post.excerpt }}
					    </p>
					  </div>
					</div>
					<hr>
				{% endfor %}	

			</div>        		
        	<div class="col-sm-4">
			    <h3 class="text-center">Eventi</h3>
			    <button type="button" class="btn btn-primary btn-xs btn-block">Scopri tutti gli eventi</button>
			    <h4 class="lead">Vieni a scoprire il magico mondo dei makers.</h4>
				{% for post in site.categories.eventi%} 
					<div class="media">
					  <div class="media-left">
					    <a href="{{ post.url }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
					    <p>{{ post.quando }}
					    {{ post.excerpt }}
					    </p>
					  </div>
					</div>
					<hr>
				{% endfor %}
			    
        	</div>
        	<div class="col-md-4">
			    <h3 class="text-center">Corsi</h3>
			    <button type="button" class="btn btn-primary btn-xs btn-block">Scopri tutti i corsi</button>
			    <h4 class="lead">Corsi base gratuti per gli iscritti e workshop.</h4>
				{% for post in site.categories.workshop%} 
					<div class="media">
					  <div class="media-left">
					    <a href="{{ post.iscrizione }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4><a href="{{ post.iscrizione }}">{{ post.title }}</a></h4>
					    <p>{{ post.quando }}
					    </p>
					  </div>
					</div>
					<hr>
				{% endfor %}			    
			    {% for post in site.categories.corsibase%} 
					<div class="media">
					  <div class="media-left">
					    <a href="{{ post.iscrizione }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4><a href="{{ post.iscrizione }}">{{ post.title }}</a></h4>
					    <p>{{ post.quando }}
					    </p>
					  </div>
					</div>
					<hr>
				{% endfor %}
        	</div>
        </div>
    </div>

  	<div class="well" style="background-color: #00979D">
  		<div class="container">
  			<img src="img/partners.png" class="img-responsive" width="550px">
  		</div>
  	</div>     
