<div class="container" align="center">
      <hr>
      <footer> 
            <p>
            <br>
            <strong>Scuola Europea di Coaching</strong>
            </p>
            <p>
            <a href="https://www.facebook.com/eeccoaching"> Facebook </a>
            &#8226
            <a href="http://www.linkedin.com/company/eec-escuela-europea-de-coaching-italia-srl"> Linkedin </a>
            </p>
            <p>
            Escuela Europea de Coaching Italia s.r.l.<br>
			p.iva 10692180010
			</p>
      </footer>
</div>